<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "favicon.jpeg" %>
	</div>

	<div id="content">
		<h1>This is our profile</h1>
		<p>
		Aesthetic celiac banjo, small batch cardigan sustainable kogi polaroid shabby chic knausgaard. Brooklyn sustainable biodiesel, actually literally blue bottle lumbersexual tbh man bun skateboard truffaut activated charcoal ugh af copper mug. Single-origin coffee tacos DIY, kickstarter letterpress edison bulb four loko pour-over slow-carb photo booth artisan chambray trust fund. Banh mi beard pork belly, photo booth marfa cred thundercats pour-over actually lyft blog. +1 fap mustache pinterest farm-to-table. Fanny pack church-key crucifix celiac authentic fam. Small batch bicycle rights slow-carb normcore, narwhal lomo tofu prism.
		</p>
		
		<p>
		Cornhole ethical vice bushwick franzen. Hashtag hella single-origin coffee, twee gochujang celiac XOXO. Edison bulb cold-pressed shabby chic typewriter pug. Hashtag single-origin coffee small batch umami, air plant sartorial hell of lomo scenester activated charcoal la croix succulents health goth. Health goth man bun franzen, mustache unicorn etsy hoodie ennui microdosing. Mustache DIY four loko crucifix. Franzen fap trust fund lo-fi readymade edison bulb, enamel pin raclette.
		</p>
		
		<p>
		You probably haven't heard of them distillery austin vexillologist, wayfarers food truck intelligentsia hexagon cliche. Pour-over migas keytar, narwhal cardigan yuccie church-key kombucha. IPhone kitsch actually activated charcoal raclette shoreditch. Pabst paleo cold-pressed, migas craft beer pop-up YOLO activated charcoal twee. Tote bag letterpress tilde, quinoa af bespoke dreamcatcher fap austin stumptown poke forage keffiyeh aesthetic. Gluten-free selfies pickled sriracha XOXO, meggings glossier. Offal tofu gochujang hell of, organic brooklyn pickled. Find me on Twitter <a href="https://twitter.com">@Twitter!!!</a> or on Facebook at <a href="https://facebook.com">facebook.com/blahblahblah</a>.
		</p>
	</div>
</div>